<%= simple_form_for(@worker) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :last_name %>
        <%= f.input :identification %>
        <%= f.input :occupation %>
        <%= f.input :address %>
        <%= f.input :phone %>
        <%= f.input :observations %>
      </div>
      <div class="col-md-6">
        <%= f.label :parent_id %>
        <%= f.input :auto_parent_name, label: false, input_html: {
          value: @worker.parent, class: 'autocomplete-field',
          data: {
            'autocomplete-id-target' => '#worker_parent_id',
            'autocomplete-url' => autocomplete_for_workers_path(format: :json)
          }
        } %>
        <%= f.input :parent_id, as: :hidden,
          input_html: { class: 'autocomplete-id' } %>

        <% @worker.allotments.build unless @worker.allotments.any? %>
        <%= f.simple_fields_for :allotments do |af| %>
          <%= af.input :place, input_html: { data: { place_for_parent: true } } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions well well-sm">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  Worker.placeWithParent.init()
</script>
